
{% extends "base.html" %}
{% load static %}

{% block style %}
<script src="https://cdn.tailwindcss.com"></script>
<style>
.container{
    margin-top: 5rem;
    margin-bottom:5rem;
    

}
#button-color{
    background-color:#B3D8FF;
}

#card-body{
    margin: 0 auto;
}

.card-img-top {
    height:15rem;

    object-fit:cover;
}
</style>
{% endblock %}
{% block content %}

<div class ="container">
<div id = "main" class ="mt-5 mb-3">  
        <div class="card mb-4" id="card-body">
          <img class="card-img-top" src="{{ danger.image.url }}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">작업 구역 : {{ danger.area }}</h2>
            <p class="card-text"> 5대 분류 : {{ danger.danger }}</p>
            <div class="flex items-center justify-end">
            
            <a href="{% url 'detectmodel:index' %}" id="button-color" class="btn">뒤로가기</a>
            </div>
        </div>
        </div>
</div>
</div>

{% endblock %}