<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bulletin Board</title>
    
    <style>
        .contentarea{
          height:250px;
        }
    </style>
</head>
<script src="https://cdn.tailwindcss.com"></script>
<body class="bg-gray-100">


    <div class="container mx-auto p-8">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-6">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                      <h2 class="text-lg font-semibold mb-2">{{ notice.title }}</h2>
                    </label>
                    <p></p>
                </div>
                <hr style="margin-top:10px; margin-bottom:10px;">
                <div class="mb-6 contentarea">
                  <p>{{ notice.content }}</p>
                </div>
                <hr style="margin-top:10px; margin-bottom:10px;">
                <div class="flex items-center justify-between">
                    
                      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                        <a href="{% url 'communities:update' notice.pk %}">Update</a>
                      </button>
                    
                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                      <form action="{% url 'communities:delete' notice.pk %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <input type="submit" value="DELETE", onclick="return confirm('진짜로 지울래?')" >
                      </form>
                    </button>
                </div>
            </div>
            <hr style="margin-top:10px; margin-bottom:10px;">
            <div class="mb-6">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="new-title">
                        댓글
                    </label>
                    {% for comment in comments %}
                    <div>
                      댓글 {{ forloop.revcounter }} : {{ comment.content }}
                      {% if request.user == comment.user %}
                        <form action="{% url 'communities:comments_delete' notice.pk comment.pk %}" method="POST" style="display: inline;">
                          {% csrf_token %}
                          <input type="submit" value="DELETE">
                        </form>
                      {% endif %}
                    </div>
                  {% empty %}
                    <!--댓글 없을때 대비용. 현재는 비워둠-->
                  {% endfor %}
                  <hr style="margin-top:10px; margin-bottom:10px;">
                  <form action="{% url 'communities:comments_create' notice.pk %}" method="POST">
                    {% csrf_token %}
                      <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="new-content">
                            댓글 작성
                        </label>
                        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="comments" placeholder="댓글쓰기" name='content'></textarea>
                      </div>
                    <div class="flex items-center justify-between">
                      <input class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit"
                          value='Submit'/>
                      
                  </div>
              </form>
            </div>
        </div>
    </div>
    <script>
        
    </script>
</body>
<style>
#corner {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
}
</style>
<div id="corner"></div>
<script>
  const corner = document.getElementById('corner');
  function resizeWindow(e) {
    const size = {
      width: Math.max(50,Math.floor(e.clientX+5)),
      height: Math.max(50,Math.floor(e.clientY+5))
    };
    parent.postMessage( { pluginMessage: { type: 'resize', size: size }}, '*');
  }
  corner.onpointerdown = (e)=>{
    corner.onpointermove = resizeWindow;
    corner.setPointerCapture(e.pointerId);
  };
  corner.onpointerup = (e)=>{
    corner.onpointermove = null;
    corner.releasePointerCapture(e.pointerId);
  };
</script></html>