<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrolling Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Additional styles if needed */
    </style>
</head>
<body class="bg-gray-100">
  <nav class="bg-white shadow">
    <div class="container mx-auto px-6 py-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <div class="text-lg font-semibold text-gray-700">
                    홈페이지 이름 작성
                </div>
            </div>
            <div class="flex items-center">
                {% if not user.is_authenticated %}
                    <a href="{% url 'accounts:login' %}" class="text-gray-700 text-sm mx-2">로그인</a>
                {% else %}
                    <a href="#" class="text-gray-700 text-sm mx-2">Home</a>
                    <a href="#" class="text-gray-700 text-sm mx-2">{{user}}님</a>
                    <a href="{% url 'accounts:logout' %}" class="text-gray-700 text-sm mx-2">로그아웃</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-6">공지사항</h1>
        <div class="space-y-4">
            {% for notice in notices%}
            <a href="{{notice.get_absolute_url}}" class="text-black">
            <div class="bg-white shadow-md rounded-lg p-4 flex items-start space-x-4">
                <div class="flex-shrink-0">
                    <div class="w-16 h-16 bg-gray-300 rounded-full"></div>
                </div>
                <div class="flex-grow">
                        <h2 class="font-semibold">{{notice.title}}</h2>
                </div>
                <div class="flex-shrink-0 self-center">
                            <p>{{notice.create_at|date:"Y-n-d"}}</p>
                </div>
            </div>
            </a>
            {%endfor%}
            <!-- End of post block -->
            <a href="{%url 'communities:create'%}"> 글작성</a>
        </div>
    </div>
    <script>
    </script>
</body>
<style>
#corner {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
}
</style>
<div id="corner"></div>
<script>
  const corner = document.getElementById('corner');
  function resizeWindow(e) {
    const size = {
      width: Math.max(50,Math.floor(e.clientX+5)),
      height: Math.max(50,Math.floor(e.clientY+5))
    };
    parent.postMessage( { pluginMessage: { type: 'resize', size: size }}, '*');
  }
  corner.onpointerdown = (e)=>{
    corner.onpointermove = resizeWindow;
    corner.setPointerCapture(e.pointerId);
  };
  corner.onpointerup = (e)=>{
    corner.onpointermove = null;
    corner.releasePointerCapture(e.pointerId);
  };
</script></html>