<!doctype html>
<html lang="ko">
<body>
    <h1>Find</h1>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    
    <form method="post" action="{% url 'accounts:find' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="찾기", id="find-username-btn">
    </form>

    <!-- 이름, 전화번호 일치 성공 -->
    {% if username %}
        <p>일치하는 사용자의 아이디: {{ username }}</p>
        <form method="get" action="{% url 'accounts:login' %}">
            <button type="submit" id="login-btn">로그인</button>
        </form>
        
        <!-- 일치하는 경우, find username 버튼을 숨기고 login 버튼을 보이게 함 -->
        <style>
            #find-username-btn {
                display: none;
            }
        </style>
    {% endif %}

</body>
</html>