<!doctype html>
<html lang="ko">
<body>
    <h1>GuardSite</h1>
    <form method="POST">
        <div class="radio-group">
            <label class="radio-label">관리자</label>
            <input type="radio" id="adminRadio" name="role" value="admin">
        </div>
        <div class="radio-group">
            <label class="radio-label">근로자</label>
            <input type="radio" id="workerRadio" name="role" value="worker">
        </div>

        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="ID" required>
        </div>
        <div>
        <input type="password" name="password" placeholder="Password" required>
        </div>

        <button type="submit">Sign in</button>
        <button type="submit">Sign up</button>

    </form>
</body>
</html>